/* * Skin: Purple * ------------*/
.skin-theme .main-header .navbar {
    background-color: #25a9fe;
}

.skin-theme .main-header .navbar .nav > li > a {
    color: #ffffff;
}

.skin-theme .main-header .navbar .nav > li > a:hover,
.skin-theme .main-header .navbar .nav > li > a:active,
.skin-theme .main-header .navbar .nav > li > a:focus,
.skin-theme .main-header .navbar .nav .open > a,
.skin-theme .main-header .navbar .nav .open > a:hover,
.skin-theme .main-header .navbar .nav .open > a:focus,
.skin-theme .main-header .navbar .nav > .active > a {
    background: rgba(0, 0, 0, 0.1);
    color: #98a8b9;
}

.skin-theme .main-header .navbar .sidebar-toggle {
    height: 60px;
    color: #ffffff;
}

.skin-theme .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1);
}

.skin-theme .main-header .navbar .sidebar-toggle {
    color: #fff;
}

.skin-theme .main-header .navbar .sidebar-toggle:hover {
    background-color: #555299;
}

@media (max-width: 767px) {
    .skin-theme .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .skin-theme .main-header .navbar .dropdown-menu li a {
        color: #fff;
    }

    .skin-theme .main-header .navbar .dropdown-menu li a:hover {
        background: #555299;
    }
}

.skin-theme .main-header .logo {
    background-color: #25a9fe;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

.skin-theme .main-header .logo:hover {
    background-color: #5d59a6;
}

.skin-theme .main-header li.user-header {
    background-color: #605ca8;
}

.skin-theme .content-header {
    background: transparent;
}

.skin-theme .wrapper,
.skin-theme .main-sidebar,
.skin-theme .left-side {
    /*#222D32*/
    background-color: #283c4c;
    color: #98a8b9;
}

.skin-theme .content-wrapper,
.skin-theme .main-footer {
    /*border-left: 1px solid #d2d6de;*/
}

.skin-theme .user-panel > .info,
.skin-theme .user-panel > .info > a {
    color: #444444;
}

.skin-theme .sidebar-menu > li {
    -webkit-transition: border-left-color 0.3s ease;
    -o-transition: border-left-color 0.3s ease;
    transition: border-left-color 0.3s ease;
}

.skin-theme .sidebar-menu > li.header {
    color: #848484;
    background: #f9fafc;
}

.skin-theme .sidebar-menu > li > a {
    border-left: 3px solid transparent;
    font-weight: 600;
}
/*active first level menu*/
.skin-theme .sidebar-menu > li:hover > a,
.skin-theme .sidebar-menu > li.active > a {
    color: #fff;
    /*background: #428BCA;*/
}

.skin-theme .sidebar-menu > li.active {
    border-left-color: #605CA8;
}

.skin-theme .sidebar-menu > li.active > a {
    font-weight: 600;
}

.skin-theme .sidebar-menu > li > .treeview-menu {
    background: #283c4c;
}

.skin-theme .sidebar a {
    color: #ffffff;
}

.skin-theme .sidebar a:hover {
    text-decoration: none;
}

.skin-theme .treeview-menu > li > a {
    font-size: 16px;
    color:  #FFFFFF;
}
/*mouse over treeview**/
.skin-theme .treeview-menu > li.active > a,
.skin-theme .treeview-menu > li > a:hover {
    font-size: 14px;
    color: #FFFFFF;
    background: #1E2C35;
}

.skin-theme .treeview-menu > li.active > a {
    font-weight: 600;
}

.skin-theme .sidebar-form {
    border-radius: 3px;
    border: 1px solid #d2d6de;
    margin: 10px 10px;
}

.skin-theme .sidebar-form input[type="text"],
.skin-theme .sidebar-form .btn {
    box-shadow: none;
    background-color: #fff;
    border: 1px solid transparent;
    height: 35px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.skin-theme .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}

.skin-theme .sidebar-form input[type="text"]:focus,
.skin-theme .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666;
}

.skin-theme .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff;
}

.skin-theme .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}

@media (min-width: 768px) {
    .skin-theme.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
        border-left: 1px solid #d2d6de;
    }
}
